
img {
    width: 500px;
    border-radius: 5px;
    float: right;
    margin-left: 10px;
}
p {
  text-align: center;
}
.welcome {
  font-weight: bolder;
  font-size: x-large;
  font-style: italic;
  text-align: left;
}
em {
  color: darkred;
}

h2 {
  text-align: center;
}